@using Microsoft.AspNetCore.Identity
@model Wineapp.Models.ViewModels.AdminVM
@inject UserManager<AppUser> _userManager
@{
    ViewData["Title"] = "Actividad";
}

@section Styles {
    <link href="@Url.Content("~/css/adminstyle.css")" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://github.com/downloads/lafeber/world-flags-sprite/flags16.css" />
}

<<<<<<<<< Temporary merge branch 1
<h1>Actividad de la página</h1>
=========
<h1 class="text-center mt-3">ÁREA DEL ADMINISTRADOR</h1>
<h4 class="text-center mt-3">>> ACTIVIDAD</h4>
>>>>>>>>> Temporary merge branch 2

<!--DESDE AQUI HASTA LA LÍNEA ... NO MODIFICAR, NO AFECTA AL DISEÑO-->
<script type="text/javascript">
    /*Gráfico de los vinos mas visitados por la actividad de los usuarios */
    var colourNames = [];
    var colourScores = [];

    /*Gráfico con las D.O */
    var sourceNames = [];
    var tintos = [];
    var blancos = [];
    var rosados = [];
    var sourceScores = [];

    /*Top 10 global de los vinos mejor valorados */
    var topTenName = [];
    var topTenScore = [];

    /*Top 5 de la semana de los vinos mejor valorados */
    var topFiveWeekName = [];
    var topFiveWeekScore = [];

</script>

<!--Introduce valores colourName para gráfico TIPOS DE VINOS MÁS VISITADOS POR LA ACTIVIDAD DE LOS USUARIOS-->
@for (int i = 0; i < Model.colourNames.Length; i++)
{
    <script type="text/javascript">
            colourNames.push('@Model.colourNames[i]');
    </script>
}

<!--Introduce valores colourScore para gráfico TIPOS DE VINOS MÁS VISITADOS POR LA ACTIVIDAD DE LOS USUARIOS-->
@for (int i = 0; i < Model.colourScores.Length; i++)
{
    <script type="text/javascript">
        colourScores.push(parseFloat(@Model.colourScores[i]));
    </script>
}

<<<<<<<<< Temporary merge branch 1
@foreach (Wine wine in Model.topWines)
{
    <script type="text/javascript">
                topTenName.push('@wine.Name');
                topTenScore.push(@wine.Score);
    </script>
}
=========
>>>>>>>>> Temporary merge branch 2

<!--Introduce valores sourceNames para gráfico D.O MÁS VISITADAS-->
@foreach (var sourceScore in Model.sourceScores2)
{
    <script type="text/javascript">
                var num = @Convert.ToInt32(sourceScore.Value);
                sourceNames.push('@sourceScore.Key ('+num+'%)');
    </script>
}
<!--Introduce valores tintos,blancos,rosados(indican cuantos hay en cada D.O) para gráfico D.O MÁS VISITADAS -->
@foreach (int sourceTinto in Model.sourceTintos)
{
    <script type="text/javascript">
        tintos.push(parseInt(@sourceTinto));
    </script>
}
@foreach (int sourceBlanco in Model.sourceBlancos)
{
    <script type="text/javascript">
        blancos.push(parseInt(@sourceBlanco));
    </script>
}
@foreach (int sourceRosado in Model.sourceRosados)
{
    <script type="text/javascript">
        rosados.push(parseInt(@sourceRosado));
    </script>
}

@for (int i = 0; i < Model.sourceScores.Length; i++)
{
    <script type="text/javascript">
            sourceNames.push('@Model.sourceNames[i]');
    </script>
}
@for (int i = 0; i < Model.sourceScores.Length; i++)
{
    <script type="text/javascript">
        sourceScores.push(parseFloat(@Model.sourceScores[i]));
    </script>
}

<<<<<<<<< Temporary merge branch 1
=========

<!--Introduce valores topName Y topTenScore para gráfico 10 VINOS MEJOR VALORADOS-->
@foreach (Wine wine in Model.topWines)
{
    <script type="text/javascript">
                topTenName.push('@wine.Name');
                topTenScore.push(@wine.Score);
    </script>
}

<!--Introduce valores  topFiveWeekName y topFiveWeekScore para gráfico TOP 5 DE LA SEMANA (Vinos mejor valorados)-->
@foreach (var wine in Model.winesScore)
{
    <script type="text/javascript">
                topFiveWeekName.push('@wine.Key');
                topFiveWeekScore.push(@wine.Value);
    </script>
}

<<<<<<<<< Temporary merge branch 1
<div id="resultado">

    <!--Gráfico-->
    <div class="rdo"></div>
    <h6 class="tituloItinerario">TOP 5 DE LA SEMANA (Vinos mejor valorados)</h6>
    <div class="cajaGrafico">
        <canvas id="myCanvas"></canvas>
    </div>

    <div class="rdo"></div>
    <div class="cajaGrafico">
        <h6 class="tituloItinerario">TIPOS DE VINOS MÁS VISITADOS POR LA ACTIVIDAD DE LOS USUARIOS</h6>
        <canvas id="myDoughnutChart"></canvas>
=========



<!--Actividad de valoraciones-->
<div class="container">
    <div class="adminTitles">
        <h2>ACTIVIDAD DE VALORACIONES</h2>
    </div>
    <hr class="hrdown" />
    <div class="row">
        <div class="col">
            <!--Gráfico TOP 5 DE LA SEMANA (Vinos mejor valorados)-->
            <div id="topWinesScore"></div>
        </div>
        <div class="col">
            <!--Gráfico TOP 10 (Vinos mejor valorados)-->
            <div id="topTenWines"></div>
        </div>
>>>>>>>>> Temporary merge branch 2
    </div>
</div>
<!--Actividad de navegación-->
<div class="container">
    <div class="adminTitles">
        <h2>ACTIVIDAD DE NAVEGACIÓN</h2>
    </div>
    <hr class="hrdown" />
    <div class="row">
        <div class="col">
            <!--Gráfico TIPOS DE VINOS MÁS VISITADOS POR LA ACTIVIDAD DE LOS USUARIOS-->
            <div id="colourTaste"></div>
        </div>
        <div class="col">
            <!--Gráfico D.O MÁS VISITADAS-->
            <div id="sources"></div>
        </div>
    </div>
</div>


<<<<<<<<< Temporary merge branch 1
<div id="container"></div>
=========

>>>>>>>>> Temporary merge branch 2

@section Scripts{
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="~/js/AdminView.js"></script>
}