@using Microsoft.AspNetCore.Identity
@model Wineapp.Models.ViewModels.TastesVM
@inject UserManager<AppUser> _userManager

@{
    ViewData["Title"] = "Encuesta";
}

@section Styles {
    <link href="@Url.Content("~/css/survey.css")" rel="stylesheet" type="text/css" />
}

@{
    var user = await _userManager.FindByEmailAsync(User.Identity.Name);

    //Comprueba que el usuario loggeado haya hecho la encuesta
    if (user.Survey == true)
    {
        <h1 id="surveyviewh1">Usted ya realizó la encuesta de preferencias personales.</h1>
    }
    else
    {
        <h1>Encuesta de preferencias personales</h1>

        <div class="form-group">

            <h3>Rellenar el formulario nos permitirá crear recomendaciones de productos ajustadas a sus preferencias.</h3>

            @*<a class="surveyafter" asp-controller="Home" asp-action="Index">Haré la encuesta en otro momento</a>*@

            <h4>Seleccione sus preferencias entre las siguientes opciones:</h4>

            <form asp-action="InsertSurveyValues">

                <div class="questions">
                    <p class="surveyp">• Color:</p>


                    @foreach (ColourTaste colourTaste in Model.ColourTastes)
                    {
                        <div class="form-check questionsblock">
                            <input class="form-check-input" type="checkbox" name="colour" value="@colourTaste.Id">
                            <label class="form-check-label" for="inlineCheckbox-@colourTaste.Id">@colourTaste.Colour.ColourType</label>
                        </div>
                    }

                    <p class="surveyp">• Denominaciones de origen:</p>

                    @foreach (SourceTaste sourceTaste in Model.SourceTastes)
                    {
                        <div class="form-check questionsblock">
                            <input class="form-check-input" type="checkbox" name="source" value="@sourceTaste.Id">
                            <label class="form-check-label" for="inlineCheckbox-@sourceTaste.Id">@sourceTaste.Source.SourceType</label>
                        </div>
                    }

                    <p class="surveyp">• Dulzor:</p>

                    @foreach (SweetnessTaste sweetnessTaste in Model.SweetnesTastes)
                    {
                        <div class="form-check questionsblock">
                            <input class="form-check-input" type="checkbox" name="sweet" value="@sweetnessTaste.Id">
                            <label class="form-check-label" for="inlineCheckbox-@sweetnessTaste.Id">@sweetnessTaste.Sweetnes.SweetnesType</label>
                        </div>
                    }

                    <input class="sendbutton" type="submit" value="Completar" />
                </div>
            </form>
        </div>
    }
}
