@using Microsoft.AspNetCore.Identity
@using Wineapp.Services;
@inject SignInManager<AppUser> _signInManager
@inject UserManager<AppUser> _userManager
@inject ITastes  _tastesServices
@model Wineapp.Models.ViewModels.WinesVM

@section Styles {
    <link href="@Url.Content("~/css/homeIndex.css")" rel="stylesheet" type="text/css" />
}

@{
    ViewData["Title"] = "Inicio";
}

<h1 class="test">Bienvenido la web del proyecto VinoNET</h1>

<p class="uptext">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas pretium, mi sed pellentesque sagittis, ante tortor ultricies lorem, id pharetra augue purus sed turpis. Etiam eget consectetur tellus, at bibendum enim. Pellentesque et diam elementum, rutrum tortor tincidunt, maximus magna. Ut in consequat tellus. Phasellus dictum purus dui, at vestibulum neque blandit ac. Pellentesque at mi tellus. Fusce metus quam, mattis eu tortor scelerisque, ornare dapibus est. Duis vestibulum in nibh nec aliquet. Mauris vehicula sed sem a pellentesque. Phasellus quis venenatis ex. Donec nibh lacus, ultricies dignissim turpis vel, scelerisque rhoncus justo. Nunc eget suscipit sapien. Praesent eu vehicula enim. </p>

<hr />

<!---------------------------------------------------------------------------------------------------------------------------------------------------->

<div class="doblock">
    <div class="card mb-3">
        <h3 class="card-header">Denominaciones de Origen</h3>

        <div id="carouseldo" class="carousel slide" data-interval="2000" data-ride="carousel">
            <div class="carousel-inner">
                @{
                    int counterdo = 1;
                }

                @foreach (Source source in Model.ListSources)
                {

                    if (counterdo == 1)
                    {
                        <div class="carousel-item active">
                            <form asp-controller="Wines" asp-action="SourcePreferences">
                                <input type="hidden" name="sourceId" value="@source.Id" />
                                <input class="doimages" type="image" src="~/img/dologo/@source.Logo" />
                            </form>
                        </div>

                        counterdo++;
                    }
                    else if (counterdo > 1)
                    {
                        <div class="carousel-item">
                            <form asp-controller="Wines" asp-action="SourcePreferences">
                                <input type="hidden" name="sourceId" value="@source.Id" />
                                <input class="doimages" type="image" src="~/img/dologo/@source.Logo" />
                            </form>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>

<!---------------------------------------------------------------------------------------------------------------------------------------------------->

<div class="winesblock">
    <div class="card mb-3 ">
        @if (_signInManager.IsSignedIn(User))
        {
            <!--PARA EL USUARIO REGISTRADO-->
            <h3 class="card-header">Vinos que también te gustarán</h3>
        }
        else
        {
            <!--NO REGISTRADO-->
            <h3 class="card-header">Nuestros vinos más vistos</h3>
        }

        <div id="carouselwines" class="carousel slide" data-interval="2000" data-ride="carousel">
            <div class="carousel-inner">

                @{
                    int counterwines = 1;
                }

                @foreach (Wine wine in Model.ListWineTaste)
                {

                    if (counterwines == 1)
                    {
                        <div class="carousel-item active">
                            <form asp-controller="Wines" asp-action="Details">
                                <input type="hidden" name="id" value="@wine.Id" />
                                <input class="winesimages" type="image" src="~/img/wines/@wine.Image" />
                            </form>
                            <div class="card-body">
                                <p class="list-group-item">@wine.Name  (@wine.Colour.ColourType - @wine.Sweetnes.SweetnesType - Denominación de origen @wine.Source.SourceType)</p>
                            </div>
                        </div>

                        counterwines++;
                    }
                    else if (counterwines > 1)
                    {
                        <div class="carousel-item">
                            <form asp-controller="Wines" asp-action="Details">
                                <input type="hidden" name="id" value="@wine.Id" />
                                <input class="winesimages" type="image" src="~/img/wines/@wine.Image" />
                            </form>
                            <div class="card-body">
                                <p class="list-group-item">@wine.Name  (@wine.Colour.ColourType - @wine.Sweetnes.SweetnesType - Denominación de origen @wine.Source.SourceType)</p>
                            </div>
                        </div>

                    }
                }
            </div>
        </div>
    </div>
</div>

<!---------------------------------------------------------------------------------------------------------------------------------------------------->

<hr class="hrdown" />

<div class="eventsblock">
    <h2 class="eventstitle">Eventos</h2>
    <p class="uptext">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas pretium, mi sed pellentesque sagittis, ante tortor ultricies lorem, id pharetra augue purus sed turpis. Etiam eget consectetur tellus, at bibendum enim. Pellentesque et diam elementum, rutrum tortor tincidunt, maximus magna. Ut in consequat tellus. Phasellus dictum purus dui, at vestibulum neque blandit ac. Pellentesque at mi tellus. Fusce metus quam, mattis eu tortor scelerisque, ornare dapibus est. Duis vestibulum in nibh nec aliquet. Mauris vehicula sed sem a pellentesque. Phasellus quis venenatis ex. Donec nibh lacus, ultricies dignissim turpis vel, scelerisque rhoncus justo. Nunc eget suscipit sapien. Praesent eu vehicula enim. </p>
</div>