@using Microsoft.AspNetCore.Identity
@model Wineapp.Models.ViewModels.WinesVM
@inject SignInManager<AppUser> _signInManager

@{
    ViewData["Title"] = "Details";
}

@section Styles {
    <link href="@Url.Content("~/css/dodetails.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/css/imagegallery.css")" rel="stylesheet" type="text/css" />
}

<div class="winedetailsblock">
    <img src="~/img/wines/@Model.Wine.Image" alt="Alternate Text" />

    <img src="~/img/dologo/@Model.Wine.Source.Logo" alt="Alternate Text" />

    <img src="~/img/domaps/@Model.Wine.Source.Image" alt="Alternate Text" />
</div>

<div class="card-body">
    @if (_signInManager.IsSignedIn(User))
    {
        <iframe class="card-text wineiframe" id="inlineFrame"
                title="Wines slider"
                width="400"
                height="200"
                src="https://localhost:44320/Wines/ViewsFavorite/@Model.Wine.Id">
        </iframe>

    }
</div>

@if (_signInManager.IsSignedIn(User))
{
    <div class="slider">

        <div class="upperframe">

            @foreach (Wine wine in @Model.ListWinesTastesDetails)
            {
                <div class="row mySlides">
                    <div class="card bigpicturebox">
                        <div class="row no-gutters">
                            <div class="col">
                                <img src="~/img/wines/@wine.Image" class="card-img">
                            </div>
                            <div class="col">
                                <div class="card-body winedetails">
                                    <p class="card-title winedetailsname">@wine.Name (@wine.Year)</p>
                                    <p class="card-text">@wine.Colour.ColourType - @wine.Sweetnes.SweetnesType</p>
                                    <p class="card-text">Denominación de Origen @wine.Source.SourceType</p>
                                    <p class="card-text">Precio: @wine.Price €</p>
                                    @if (_signInManager.IsSignedIn(User))
                                    {
                                        <iframe class="card-text wineiframe" id="inlineFrame"
                                                title="Wines slider"
                                                width="400"
                                                height="200"
                                                src="https://localhost:44320/Wines/ViewsFavorite/@wine.Id">
                                        </iframe>

                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }

            <a class="prev" onclick="plusSlides(-1)">❮</a>
            <a class="next" onclick="plusSlides(1)">❯</a>
        </div>

        <div class="row slidewinelist">
            @{ int cont2 = 1;
                foreach (Wine wine in Model.ListWineUserScore)
                {
                    <div class="column">
                        <img class="demo cursor" src="~/img/wines/@wine.Image" style="width:100%" onclick="currentSlide(@cont2)" alt="@wine.Name">
                        <h5>@wine.Name</h5>
                        <p>@wine.Colour.ColourType - @wine.Sweetnes.SweetnesType</p>
                    </div>
                    cont2++;
                }
            }
        </div>
    </div>
}
else
{

    <div class="slider">

        <div class="upperframe">
             
            @foreach (Wine wine in Model.ListWineUserScore)
            {
                <div class="row mySlides">
                    <div class="card bigpicturebox">
                        <div class="row no-gutters">
                            <div class="col">
                                <img src="~/img/wines/@wine.Image" class="card-img">
                            </div>
                            <div class="col">
                                <div class="card-body winedetails">
                                    <p class="card-title winedetailsname">@wine.Name (@wine.Year)</p>
                                    <p class="card-text">@wine.Colour.ColourType - @wine.Sweetnes.SweetnesType</p>
                                    <p class="card-text">Denominación de Origen @wine.Source.SourceType</p>
                                    <p class="card-text">Precio: @wine.Price €</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }

            <a class="prev" onclick="plusSlides(-1)">❮</a>
            <a class="next" onclick="plusSlides(1)">❯</a>
        </div>

        <div class="row slidewinelist">
            @{ int cont = 1;
                foreach (Wine wine in Model.ListWineUserScore)
                {
                    <div class="column">
                        <img class="demo cursor" src="~/img/wines/@wine.Image" style="width:100%" onclick="currentSlide(@cont)" alt="@wine.Name">
                        <h5>@wine.Name</h5>
                        <p>@wine.Colour.ColourType - @wine.Sweetnes.SweetnesType</p>
                    </div>
                    cont++;
                }
            }
        </div>
    </div>

}