@model Wineapp.Models.ViewModels.WinesVM

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<h3>Tablas de Vino segun gustos 5 segun el vino selecionado,3 segun los tres fitros de Taste y 2 sefun D.O</h3>
<table>
    <thead>
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Colour</th>
            <th scope="col">Sweetness</th>
            <th scope="col">Source</th>
            <th scope="col">Score</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Wine wine in Model.ListWinesTastesDetails)
        {
            <tr>
                <th>@wine.Name</th>
                <td>@wine.Colour.ColourType</td>
                <td>@wine.Sweetnes.SweetnesType</td>
                <td>@wine.Source.SourceType</td>
                <td>@wine.Score</td>
            </tr>
        }
    </tbody>
</table>

<h3>Tablas segun la puntucion de los vinos</h3>
<table>
    <thead>
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Colour</th>
            <th scope="col">Sweetness</th>
            <th scope="col">Source</th>
            <th scope="col">Score</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Wine wine in Model.ListWineUserScore)
        {
            <tr>
                <th>@wine.Name</th>
                <td>@wine.Colour.ColourType</td>
                <td>@wine.Sweetnes.SweetnesType</td>
                <td>@wine.Source.SourceType</td>
                <td>@wine.Score</td>
            </tr>
        }
    </tbody>
</table>