@using Microsoft.AspNetCore.Identity
@model Wineapp.Models.ViewModels.WinesVM
@inject SignInManager<AppUser> _signInManager

@{
    ViewData["Title"] = "Details";
}

@section Styles {
    <link href="@Url.Content("~/css/dodetails.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/css/imagegallery.css")" rel="stylesheet" type="text/css" />
}




<h1>@Model.Wine.Name</h1>





<div class="slider">


    <div class="upperframe">

        @foreach (Wine wine in Model.ListWineUserScore)
        {
            <div class="row mySlides">
                <div class="card bigpicturebox">
                    <div class="row no-gutters">
                        <div class="col">
                            <img src="~/img/wines/@wine.Image" class="card-img">
                        </div>
                        <div class="col">
                            <div class="card-body winedetails">
                                <p class="card-title winedetailsname">@wine.Name (@wine.Year)</p>
                                <p class="card-text">@wine.Colour.ColourType - @wine.Sweetnes.SweetnesType</p>
                                <p class="card-text">Denominación de Origen @wine.Source.SourceType</p>
                                <p class="card-text">Precio: @wine.Price €</p>
                                @if (_signInManager.IsSignedIn(User))
                                {
                                    <iframe class="card-text wineiframe" id="inlineFrame"
                                            title="Wines slider"
                                            width="400"
                                            height="200"
                                            src="https://localhost:44320/Wines/ViewsFavorite/@wine.Id">
                                    </iframe>

                                }

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }

        <a class="prev" onclick="plusSlides(-1)">❮</a>
        <a class="next" onclick="plusSlides(1)">❯</a>

    </div>



    <div class="row slidewinelist">
        @{ int cont = 1;
            foreach (Wine wine in Model.ListWineUserScore)
            {
                <div class="column">
                    <img class="demo cursor" src="~/img/wines/@wine.Image" style="width:100%" onclick="currentSlide(@cont)" alt="@wine.Name">
                    <h5>@wine.Name</h5>
                    <p>@wine.Colour.ColourType - @wine.Sweetnes.SweetnesType</p>
                </div>
                cont++;
            }
        }
    </div>
</div>










@*@foreach (Wine wine in Model.ListWineUserScore)
            {
                <div class="row mySlides">
                    <div class="card mb-3">
                        <div class="row no-gutters" style="width:100%;">
                            <div class="col-md-6">
                                <img src="~/img/wines/@wine.Image" class="card-img" style="width:30%;">
                            </div>
                            <div class="col-md-12">
                                <div class="card-body">
                                    <h5 class="card-title">@wine.Name (@wine.Year)</h5>
                                    <p class="card-text">@wine.Price €</p>

                                        <iframe class="card-text" id="inlineFrameExample"
                                                title="Inline Frame Example"
                                                width="300"
                                                height="200"
                                                src="https://localhost:44320/Wines/ViewsFavorite/@wine.Id"
                                                style="border:none">
                                        </iframe>

                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            }

                <a class="prev" onclick="plusSlides(-1)">❮</a>
                <a class="next" onclick="plusSlides(1)">❯</a>

                <div class="caption-container">
                    <p id="caption"></p>
                </div>

                <div class="row">
                    @{ int cont = 1;
                        foreach (Wine wine in Model.ListWineUserScore)
                        {
                        <div class="column">
                            <img class="demo cursor" src="~/img/wines/@wine.Image" style="width:100%" onclick="currentSlide(@cont)" alt="@wine.Name">
                            <h6>@wine.Name</h6>
                            <p>@wine.Colour.ColourType, @wine.Sweetnes.SweetnesType, @wine.Source.SourceType</p>
                        </div>
                            cont++;

                        }
                        }
                    </div>
            </div>

        <script>
    var slideIndex = 1;
    showSlides(slideIndex);

    function plusSlides(n) {
      showSlides(slideIndex += n);
    }

    function currentSlide(n) {
      showSlides(slideIndex = n);
    }

    function showSlides(n) {
      var i;
      var slides = document.getElementsByClassName("mySlides");
      var dots = document.getElementsByClassName("demo");
      var captionText = document.getElementById("caption");
      if (n > slides.length) {slideIndex = 1}
      if (n < 1) {slideIndex = slides.length}
      for (i = 0; i < slides.length; i++) {
          slides[i].style.display = "none";
      }
      for (i = 0; i < dots.length; i++) {
          dots[i].className = dots[i].className.replace(" active", "");
      }
      slides[slideIndex-1].style.display = "block";
      dots[slideIndex-1].className += " active";
      captionText.innerHTML = dots[slideIndex-1].alt;
    }
        </script>

    </body>
    </html>*@
