@model IEnumerable<Wineapp.Models.Wine>

@{
    ViewData["Title"] = "Index";
}

        <h1>Vinos</h1>

        <p>
            <a asp-action="Create">Crear nuevos</a>
        </p>

    

        <table class="table">
            <thead>
                <tr class="table-danger">
                    <th>
                        <h5>
                          
                        </h5>


                    </th>
                    <th>
                        
                            Nombre
                        
                    </th>
                    <th>
                     
                            Color
                        
                    </th>
                    <th>
                       
                            Dulzor
                        
                    </th>
                    <th>
                       
                            D.Origen
                       
                    </th>
                    <th>
                        
                            Compañia
                       
                    </th>
                    <th>
                      
                            Espumoso
                     
                    </th>
                    <th>
                     
                            Publicado
                     
                    </th>
                    <th>
                     
                            Precio€
                        
                    </th>
                    <th>
                       
                            Año
                      
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (Wine wine in Model)
                {

                <tr>
                    <td>

                        <img src="~/img/wines/@wine.Image" height="100" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => wine.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => wine.Colour.ColourType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => wine.Sweetnes.SweetnesType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => wine.Source.SourceType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => wine.Company)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => wine.Sparkling)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => wine.Publish)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => wine.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => wine.Year)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@wine.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@wine.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@wine.Id">Delete</a>
                    </td>
                </tr>
                }
            </tbody>
        </table>


