@model IEnumerable<Wineapp.Models.Wine>

@section Styles {
    <link href="@Url.Content("~/css/catalog.css")" rel="stylesheet" type="text/css" />
}

@{
    ViewData["Title"] = "Catálogo";
}

<h1 class="title">Catálogo de vinos</h1>

<div class="row">

    @foreach (Wine wine in Model)
    {

        <div class="col cards">
            <div class="card h-100" style="width: 12rem;">

                <form asp-controller="Wines" asp-action="Details">
                    <input type="hidden" name="id" value="@wine.Id" />
                    <input class="card-img-top" type="image" src="~/img/wines/@wine.Image" />
                </form>

                <div class="card-header text-center">
                    <p>@wine.Name (@wine.Year)</p>
                </div>
                <ul class="list-group list-group-flush cardwinedetails">
                    <li class="list-group-item">@wine.Colour.ColourType - @wine.Sweetnes.SweetnesType</li>
                    <li class="list-group-item"> <img src="~/img/dologo/@wine.Source.Logo" alt="Alternate Text" /> </li>
                </ul>
            </div>
        </div>

    }
</div>