@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> _signInManager
@inject UserManager<AppUser> _userManager
@model Wineapp.Models.ViewModels.WinesVM

@{
    ViewData["Title"] = "D.O.";
}

@section Styles {
    <link href="@Url.Content("~/css/dodetails.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/css/imagegallery.css")" rel="stylesheet" type="text/css" />
}

<div class="row align-items-center logoblock">
    <div class="col">
        <img class="dologo" src="~/img/dologo/@Model.Source.Logo" alt="Logo de la D.O. @Model.Source.SourceType" />
    </div>
    <div class="col">
        <p>D.O. @Model.Source.SourceType</p>
    </div>
</div>

<hr />

<div class="row align-items-center mapblock">

    <div class="col dodescription">
        <p>@Model.Source.Description</p>
    </div>

    <div class="col">
        <img src="~/img/domaps/@Model.Source.Image" alt="Localización de la D.O. @Model.Source.SourceType" />
    </div>
</div>

<hr />

<div class="slider">

    <h2 class="slidertitle">Vinos recomendados de la D.O. @Model.Source.SourceType</h2>

    <div class="upperframe">

        @foreach (Wine wine in Model.ListWinesTastesSources)
        {
            <div class="row mySlides">
                <div class="card bigpicturebox">
                    <div class="row no-gutters">
                        <div class="col">
                            <img src="~/img/wines/@wine.Image" class="card-img">
                        </div>
                        <div class="col">
                            <div class="card-body winedetails">
                                <p class="card-title winedetailsname">@wine.Name (@wine.Year)</p>
                                <p class="card-text">@wine.Colour.ColourType - @wine.Sweetnes.SweetnesType</p>
                                <p class="card-text">Denominación de Origen @wine.Source.SourceType</p>
                                <p class="card-text">Precio: @wine.Price €</p>
                                @if (_signInManager.IsSignedIn(User))
                                {
                                    <iframe class="card-text wineiframe" id="inlineFrame"
                                            title="Wines slider"
                                            width="400"
                                            height="200"
                                            src="https://localhost:44320/Wines/ViewsFavorite/@wine.Id">
                                    </iframe>

                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }

        <a class="prev" onclick="plusSlides(-1)">❮</a>
        <a class="next" onclick="plusSlides(1)">❯</a>
    </div>

    <div class="row slidewinelist">
        @{ int cont = 1;
            foreach (Wine wine in Model.ListWinesTastesSources)
            {
                <div class="column">
                    <img class="demo cursor" src="~/img/wines/@wine.Image" style="width:100%" onclick="currentSlide(@cont)" alt="@wine.Name">
                    <h5>@wine.Name</h5>
                    <p>@wine.Colour.ColourType - @wine.Sweetnes.SweetnesType</p>
                </div>
                cont++;
            }
        }
    </div>
</div>

<!--Nombre de la denominación de origen que ha seleccionado-->
@*<h1>@Model.Source.SourceType</h1>

    <div>
        <p>Nuestra mejor selección de vinos de @Model.Source.SourceType</p>
        @foreach (Wine wine in Model.ListWinesTastesSources)
        {
            <form asp-controller="Wines" asp-action="Details">
                <input type="hidden" name="id" value="@wine.Id" />
                <input type="image" src="~/img/wines/@wine.Image" />
            </form>
            <p>@wine.Colour.ColourType,@wine.Sweetnes.SweetnesType,@wine.Source.SourceType</p>
            <br />

        }

        <p>Otras Denominaciones de Origen que quizá te interesen...</p>
        @foreach (Source source in Model.ListSources)
        {

            <p>@source.SourceType</p>
            <form asp-controller="Wines" asp-action="SourcePreferences">
                <input type="hidden" name="sourceId" value="@source.Id" />
                <input type="image" src="~/img/dologo/@source.Image" />
            </form>
            <br />
        }
    </div>*@