@model Wineapp.Models.ViewModels.WinesVM
@using Microsoft.AspNetCore.Identity
@using Wineapp.Services

@inject SignInManager<AppUser> _signInManager
@inject UserManager<AppUser> _userManager
@inject ILike _likeServices;

@{
    ViewData["Title"] = "ViewsFavorite";
    AppUser user = await _userManager.FindByEmailAsync(User.Identity.Name);

}


<div style="display: flex;justify-content: space-around;">
    @if (!_likeServices.Exit(user.Id, @Model.Wine.Id))
    {
        <form asp-controller="Wines" asp-action="InsertLikeValues">
            <input type="hidden" name="sourceId" value="@Model.Wine.SourceId" />
            <input type="hidden" name="colourId" value="@Model.Wine.ColourId" />
            <input type="hidden" name="sweetId" value="@Model.Wine.SweetnesId" />
            <input type="hidden" name="idWine" value="@Model.Wine.Id" />
            <input type="hidden" name="url" value="https://localhost:44320/Wines/ViewsFavorite/@Model.Wine.Id" />
            <input type="submit" value="Like" class="btn btn-info" />
            <!--Si quieres poner una foto, EJEMPLO:-->
        </form>
    }
    else
    {
        <form asp-controller="Wines" asp-action="DelateLikeValues" style="margin-right: 30px;">
            <input type="hidden" name="sourceId" value="@Model.Wine.SourceId" />
            <input type="hidden" name="colourId" value="@Model.Wine.ColourId" />
            <input type="hidden" name="sweetId" value="@Model.Wine.SweetnesId" />
            <input type="hidden" name="idWine" value="@Model.Wine.Id" />
            <input type="hidden" name="url" value="https://localhost:44320/Wines/ViewsFavorite/@Model.Wine.Id" />
            <input type="submit" value="Quitar like" class="btn btn-danger" />
        </form>
    }
    <div class="btn-group">
        <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Listas
        </button>
        <div class="dropdown-menu" style="overflow-x:hidden;max-height: 120px;">
            @foreach (WineList wineList in @Model.ListWinesLists)
            {
                <a class="dropdown-item" href="#">@wineList.ListName</a>
            }

        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/Favorite.js"></script>
}

