@model Wineapp.Models.ViewModels.WinesVM

@{
    ViewData["Title"] = "Details";
}

<h1>Lista:@Model.WineList.ListName</h1>



<table class="table">
    <thead>
        <tr>
            <th>
                Nombre
            </th>
            <th>
                Colour
            </th>
            <th>
                Sweentnes
            </th>
            <th>
                Source
            </th>
            <th>
               Year
            </th>
            <th>
                Compañy
            </th>
            <th>
                Precio
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (WineListWine wineListWine in Model.ListWinesListWines)
        {
            <tr>
                <td>
                   @wineListWine.Wine.Name
                </td>
                <td>
                    @wineListWine.Wine.Colour.ColourType
                </td>
                <td>
                    @wineListWine.Wine.Sweetnes.SweetnesType
                </td>
                <td>
                    @wineListWine.Wine.Source.SourceType
                </td>
                <td>
                    @wineListWine.Wine.Year
                </td>
                <td>
                    @wineListWine.Wine.Price
                </td>                
                <td>
                    <a asp-controller="Wines" asp-action="Details" asp-route-id="@wineListWine.Id">Details</a>  |                    
                    <form asp-controller="Wines" asp-action="DelateWineListWineValues">
                        <input type="hidden" name="wineListWineId" value="@wineListWine.Id" />
                        <input type="hidden" name="idWine" value="@wineListWine.WineId" />
                        <input type="hidden" name="url" value="https://localhost:44320/WineLists/Details?nameList=@Model.WineList.ListName" />
                        <button type="submit" class="btn btn-danger" title="Añadir">
                            Quitar de la lista 
                        </button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

