@model Wineapp.Models.ViewModels.WinesVM

@using Wineapp.Services
@inject IWineLists _wineListsServices;
@{
    ViewData["Title"] = "Details";
    List<WineList> listWineLists = await _wineListsServices.GetWineListsByUserIdAsync(Model.AppUser.Id);
}

<h1>Lista:@Model.WineList.ListName</h1>



<table class="table">
    <thead>
        <tr>
            <th>
                Nombre
            </th>
            <th>
                Colour
            </th>
            <th>
                Sweentnes
            </th>
            <th>
                Source
            </th>
            <th>
                Year
            </th>
            <th>
                Compañy
            </th>
            <th>
                Precio
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (WineListWine wineListWine in Model.ListWinesListWines)
        {
            <tr>
                <td>
                    @wineListWine.Wine.Name
                </td>
                <td>
                    @wineListWine.Wine.Colour.ColourType
                </td>
                <td>
                    @wineListWine.Wine.Sweetnes.SweetnesType
                </td>
                <td>
                    @wineListWine.Wine.Source.SourceType
                </td>
                <td>
                    @wineListWine.Wine.Year
                </td>
                <td>
                    @wineListWine.Wine.Price
                </td>
                <td>
                    <a asp-controller="Wines" asp-action="Details" asp-route-id="@wineListWine.Id">Details</a>  |
                    @if (listWineLists.Count > 1)
                    {
                        <form asp-controller="WineLists" asp-action="MoveWine">
                            <div class="btn-group">
                                <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Cambiar de lista
                                </button>
                                <div class="dropdown-menu">
                                    @foreach (WineList wineList in listWineLists)
                                    {
                                        if (wineList.ListName != Model.WineList.ListName)
                                        {
                                            <div class="form-check">
                                                <input type="radio" id="@wineList.ListName" name="listaId" value="@wineList.Id" />
                                                <label class="form-check-label" for="@wineList.ListName">@wineList.ListName</label>
                                            </div>
                                        }
                                    }
                                    <div class="dropdown-divider"></div>
                                    <input type="hidden" name="wineListWineId" value="@wineListWine.Id" />
                                    <input type="hidden" name="url" value="https://localhost:44320/WineLists/Details?nameList=@Model.WineList.ListName" />
                                    <button type="submit" class="btn btn-success" title="Añadir">
                                        Mover
                                    </button>
                                </div>
                            </div>
                        
                        </form>
                    }
                    <form asp-controller="Wines" asp-action="DelateWineListWineValues">
                        <input type="hidden" name="wineListWineId" value="@wineListWine.Id" />
                        <input type="hidden" name="idWine" value="@wineListWine.WineId" />
                        <input type="hidden" name="url" value="https://localhost:44320/WineLists/Details?nameList=@Model.WineList.ListName" />
                        <button type="submit" class="btn btn-danger" title="Añadir">
                            Quitar de la lista
                        </button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

