@model Wineapp.Models.ViewModels.WinesVM

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Nam
            </th>
            <th>
                Description
            </th>
            <th>
                ListDate
            </th>            
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (WineList wineList in Model.ListWinesLists)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => wineList.ListName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => wineList.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => wineList.ListDate)
                </td>
                
                <td>
                    <a asp-action="Edit" asp-route-id="@wineList.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@wineList.Id">Details</a> |

                    <form asp-controller="WineLists" asp-action="DeleteWineList">
                        <input type="hidden" name="winwListId" value="@wineList.Id" />
                        <button type="submit" class="btn btn-secondary"  title="Borrar">
                            Borrar
                        </button>
                    </form>
                  
                </td>
            </tr>
        }
    </tbody>
</table>
