@model Wineapp.Models.ViewModels.WinesVM

@using Microsoft.AspNetCore.Identity
@using Wineapp.Services
@inject SignInManager<AppUser> _signInManager
@inject UserManager<AppUser> _userManager
@inject IWineLists _wineListsServices

@{
    ViewData["Title"] = "Index";
    List<WineListWine> listWineListWines = await _wineListsServices.GetWineListWineAsync();
    List<WineListWine> listWineListWinesx = new List<WineListWine>();
}

@section Styles {
    <link href="@Url.Content("~/css/wineListsIndex.css")" rel="stylesheet" type="text/css" />
}

<h1>Index</h1>
<style type="text/css">
    li {
        list-style: none;
    }
</style>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Nombre
            </th>
            <th>
                Descripción
            </th>
            <th>
                Fecha Creación
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (WineList wineList in Model.ListWinesLists)
        {
            <tr class="imageCollapse">
                <td>
                    @Html.DisplayFor(modelItem => wineList.ListName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => wineList.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => wineList.ListDate)
                </td>

                <td>
                    <a asp-action="Edit" asp-route-id="@wineList.Id">Edit</a> |

                    <a asp-controller="WineLists" asp-action="Details" asp-route-nameList="@wineList.ListName">Details</a>                    |

                    <form asp-controller="WineLists" asp-action="DeleteWineList">
                        <input type="hidden" name="winwListId" value="@wineList.Id" />
                        <button type="submit" class="btn btn-secondary" title="Borrar">
                            <img src="~/img/boton-borrar-png-5.png" alt="Alternate Text" />                      
                        </button>
                    </form>

                </td>
            </tr>
            <tr class="collapse listaCollapse">
                <td colspan="4">
                    <ul>

                        @if (listWineListWines.Where(x => x.WineListId == wineList.Id).Count() == 0)
                        {
                            <li>Lista Vacia</li>
                        }
                        else
                        {
                            listWineListWinesx = await _wineListsServices.GetWineListsWinesByWineLisIdAsync(wineList.Id);
                            @foreach (WineListWine wineListWine in listWineListWinesx)
                            {
                                <li>
                                    <table>
                                        <tr>
                                            <td style="width: 300px;">@wineListWine.Wine.Name</td>
                                            <td>
                                                <form asp-controller="WineLists" asp-action="DelateWineListWineValues">
                                                    <input type="hidden" name="idWine" value="@wineListWine.Wine.Id" />
                                                    <input type="hidden" name="wineListWineId" value="@wineListWine.Id" />
                                                    <button type="submit" class="btn btn-secondary" title="Borrar">
                                                        <i class="fa fa-trash-alt"></i>
                                                    </button>
                                                </form>
                                            </td>
                                        </tr>
                                    </table>

                                </li>
                            }
                        }
                    </ul>
                </td>

            </tr>
        }
    </tbody>
</table>

@section Scripts{
    <script src="~/js/WineList.js"></script>
}